<pre>
You see some weird html block, which stands for some setting in the admin UI. 
    
Your task is:
  - Understand what types of information are in front of you. 
  - Refactor this html code to show the semantic of the different blocks.  
  - Make this html nice and good looking using CSS-magic
</pre>

<span>Template property</span>
<span>
    <ul class="information">
        <li>
            Template properties let you create new properties with the same settings,
            inventory and rate plan structure.
        </li>
    </ul>
    <div>
        Select this if you want the property to be used as a template for creating
        other properties.
    </div>
    <p class="information">Learn more in the <a href="https://en.wikipedia.org/wiki/Molecular_cloning">cloning template property guide</a>.</p>
    <mat-slide-toggle>
        Set property as a template
    </mat-slide-toggle>
</span>
<span>
    <button mat-raised-button color="accent">Save</button>
    <button mat-button>Cancel</button>
</span>