<!--
    <pre>
    You see some weird html block, which stands for some setting in the admin UI. 
        
    Your task is:
      - Understand what types of information are in front of you. 
      - Refactor this html code to show the semantic of the different blocks.  
      - Make this html nice and good looking using CSS-magic
    </pre>
-->


<mat-card class="example-card">
    <mat-card-header>
      <mat-card-title class="mat-card-header-text">Template property</mat-card-title>
    </mat-card-header>
    
    <mat-card-content>
        <p>
            Template properties let you create new properties with the same settings, inventory and rate plan structure.
        </p>
        <p>
            Select this if you want the property to be used as a template for creating other properties.
        </p>
        <p class="information">Learn more in the <a href="https://en.wikipedia.org/wiki/Molecular_cloning">cloning template property guide</a>.</p>
        
        <mat-slide-toggle>
            Set property as a template
        </mat-slide-toggle>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="accent">Save</button>
      <button mat-button>Cancel</button>
    </mat-card-actions>
</mat-card>